// COLOR

$orange-clr: #ff4500;
$green-clr: #7ac043;
$blue-clr: #008ba7;
$yellow-clr: #ffbc3e;

// RESPONSIVE
$tablet-max-w: 64em; /* 1024px */
$tablet-min-w: 46.25em; /* 740px */
$mobile-width: 46.1875em; /* 739px */


