#contact {
  .background {
    @include dflex;
    height: 35rem;
    background: url("../imgs/latest_news/news_bg.jpg") no-repeat top center;

    @include tablet {
      height: 25rem;
      background-position: bottom center;
    }

    @include mobile {
      height: 20rem;
      background-position: bottom center;
    }

    &-title {
      text-align: center;

      h1 {
        font-size: 5rem;
        color: white;

        @include mobile {
          font-size: 4rem;
        }
      }

      div {
        color: #bebebe;

        a {
          display: inline-block;
          font-family: "Quicksand";
          font-weight: bold;
          color: #bebebe;

          transition: color 0.2s ease-in-out;

          &:hover {
            color: #e9e9e9;
          }
        }
      }
    }
  }

  .title {
    margin: 5rem auto;

    text-align: center;

    @include mobile {
      margin: 4rem auto;
    }

    > div {
      margin-bottom: 1rem;

      text-transform: uppercase;
      color: $orange-clr;
    }

    h2 {
      font-size: 5rem;
      letter-spacing: -0.2rem;

      @include mobile {
        font-size: 3.5rem;
      }
    }
  }

  .contact {
    @include dflex(start, center);
    gap: 8rem;
    margin-bottom: 5rem;

    @include tablet {
      gap: 5rem;
    }

    @include mobile {
      display: block;
    }

    &-form {
      &-name {
        @include dflex;
        gap: 2rem;

        @include mobile {
          display: block;
        }

        input {
          padding: 1rem 2rem;
          border: none;
          outline: none;

          border-radius: 1rem;
          background-color: #f8ebda;
          color: gray;

          @include mobile {
            width: 100%;
            text-align: center;

            &:not(:last-of-type) {
              margin-bottom: 2rem;
            }
          }
        }
      }

      &-write {
        margin: 3rem auto;

        @include mobile {
          margin: 2rem auto 1rem;
        }

        textarea {
          padding: 1rem 2rem;

          width: 100%;
          resize: none;
          border: none;

          border-radius: 1rem;
          outline: none;
          background-color: #f8ebda;
          color: gray;

          @include mobile {
            padding: 1rem 2rem;
            margin-bottom: 1rem;
            height: 10rem;

            text-align: center;
          }
        }
      }

      > button {
        transition: transform 0.2s ease-out;
        will-change: transform;

        @include mobile {
          transform: translateX(50%);
          margin-bottom: 2rem;
          padding: 1rem;
          text-align: center;
        }

        &:hover {
          background-color: #eb4103;
          transform: scale(1.05);

          @include mobile {
            transform: translateX(50%) scale(1.05);
          }
        }
      }
    }

    &-infor {
      padding: 4rem 3rem;
      height: 45rem;

      background: url("../imgs/contact/contact_form_bg.png") no-repeat;
      border-radius: 2rem;
      box-shadow: 6.3px 9.9px 66.6px -37px rgba(0, 0, 0, 0.068),
        9.8px 15.5px 97.2px -37px rgba(0, 0, 0, 0.098),
        15px 23.8px 124.5px -37px rgba(0, 0, 0, 0.122),
        24.8px 39.1px 152.1px -37px rgba(0, 0, 0, 0.152),
        38px 60px 182px -37px rgba(0, 0, 0, 0.22);

      position: relative;

      > h3 {
        font-size: 4rem;
      }

      &-list {
        margin: 2.5rem auto;
        width: 33rem;

        &-items {
          @include dflex(center, start);
          gap: 1rem;

          &:not(:last-of-type) {
            margin-bottom: 1.7rem;
          }

          > i {
            margin-right: 1rem;

            font-size: 2.3rem;
            color: $orange-clr;
          }

          > a {
            color: #212529;
            font-family: 'quicksand';
          }
        }
      }

      &-wrapper {
        position: absolute;
        bottom: 0;
        right: 3rem;
      }
    }
  }
}
